<header class="navbar justify-content-between justify-content-sm-between">
  <%# <h1 class="h5 d-none d-sm-block">
    Book Database
  </h1> %>

  <nav>
    <ul class="navbar-nav bd-navbar-nav">
			<a class="navbar-brand" href="/">TicketMaster</a>
      <li class="nav-item" style="margin-right: 1rem">
        <a
          class="nav-link <%= pageId === 'home' ? 'active' : null %>"
          href="/"
        >
          Home
        </a>
      </li>
	<% if (username) { %>
      <li class="nav-item">
        <a
          class="nav-link <%= pageId === 'tickets' ? 'active' : null %>"
          href="/admin/tickets"
        >
          Open tickets
        </a>
      </li>


		</ul>
  </nav>

    <div class="navbar-authenticated">
      <p class="navbar-greeting">
        Welcome,
        <span class="navbar-greeting-username"><%= username %></span>
      </p>

      <a class="btn btn-sm btn-warning" href="/logout">
        Logout
      </a>
    </div>
  <% } else { %>
		<nav>
			<ul class="navbar-nav bd-navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link <%= pageId === 'register' ? 'active' : null %>"
						href="/register"
					>
						Register
					</a>
				</li>

				<li class="nav-item">
					<a
						class="nav-link <%= pageId === 'login' ? 'active' : null %>"
						href="/login"
					>
						Login
					</a>
				</li>
			</ul>
    </nav>
  <% } %>


</header>
