<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<link rel="stylesheet" href="/static/bootstrap.css">
<link rel="stylesheet" href="/static/custom.css">
<link rel="stylesheet" href="/static/ticket-detail.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">



