<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

		 <div class="container">

        <form id="create-form" class="add-ticket-form" method="POST" action="/admin/create">
					<% if (message != '') { %>
							<p class="text-center text-danger"><%= message %></p>
					<% } %>
					<div class="form-row">

							<div class="form-group col-md-4">
									<label for="ticketNumber"><b>Ticket Number</b></label>
									<input type="text"
										   class="form-control"
										   name="ticketNumber"
										   id="ticket-number"
										   placeholder="000-00-0000"
										   pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}"
										   maxlength="11"
										   required>
									 <small class="form-text text-muted">Format: 000-00-0000
									 </small>
							</div>
					</div>
					<div class="form-row">

							<div class="form-group col-md-6">
							<label for="department"><b>Department</b></label>
							<select class="form-control"
									name="ticketDept"
									id="department"
									required>
								<option>Procurement</option>
								<option>Production</option>
							</select>
							</div>

							<div class="form-group col-md-12">
							<label for="ticketDesc"><b>Description</b></label>
							<textarea name="ticketDesc" form="create-form" placeholder="Enter text here..."></textarea>
							</div>

							<button type="submit" class="btn btn-primary float-right">Create Ticket</button>
    			</div>
				</div>

	</body>
</html>
