<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body class="home">

		<%- include('partials/header'); %>

    <div class="container" style="display:flex; align-items: center; flex-direction: column">

			<h1>TicketMaster</h1>

      <p class="lead">
        Ticketing Management System.
      </p>
    </div>

  </body>

	</body>
</html>
