<!doctype html>
<html>

<head>
	<%- include('partials/head'); %>
</head>

<body>

	<%- include('partials/header'); %>

		<div class="container">
			<div class="row">
            <form
					  action="/admin/ticket-edit"
					  method="POST"
					  id="ticketEdit">

					<div class="col-md-12">
						<div class="card main">
							<div class="card-header">
								<div class="info">
									<h4><%= Patient %><div class="pipe">&nbsp;|&nbsp;</div>MRN:&nbsp;<%= HealthCardNumber %></h4>
								</div>
						<input type="hidden"
							   id="editStatus"
							   name="Action"
							   value="Save"/>

                        <input type="hidden"
							   id="editbtnHealthCard"
							   name="healthCardNumber"
							   value="<%= HealthCardNumber %>"/>

                        <button class="btnbtn-sm btn-info" type="submit">Save</button>


							</div>
							<div class="card-body">

								<div class="tab-content">

									<table class="table table-condensed table-bordered margin-top-10">
										<tbody>
											<tr>
												<td>DOB</td>
												<td class="dob">

									                <label for="dob"><b>Date of Birth</b></label>
									                <input type="date"
									                	   class="form-control"
									                	   name="DOB"
									                	   id="birthDate"
                                                           value="<%=DOB%>"
									                	   required>

                                             </td>
											</tr>
											<tr>
												<td>Gender</td>
												<td><label for="gender"><b>Gender</b></label>
							                        <select class="form-control"
							                        		name="Gender"
							                        		id="gender"
                                                            value="<%=Gender%>"
							                        		required>
							                        	<option>Male</option>
							                        	<option>Female</option>
							                        </select>
                                                </td>
											</tr>
											<tr>
												<td>Email</td>
                                                <td>
                                                <label for="Email"><b>email</b></label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="exampleInputEmail1"
                                                       aria-describedby="emailHelp"
                                                       placeholder="Enter email"
                                                       name="Email"
                                                       value="<%=Email%>"
                                                       required>
                                                </td>

											</tr>
											<tr>
												<td>Address</td>
                                                <td>
                                                <label for="address"><b>address</b></label>
                                                <input type="text"
                                                        class="form-control"
                                                        name="Address"
                                                        id="address"
                                                        value="<%=Address%>"
										                required>
                                                </td>

											</tr>
											<tr>
												<td>Phone number</td>
                                                <td>
                                                    <label for="phone"><b>phone</b></label>
                                                    <input type="tel"
                                                        class="form-control"
                                                        name="Phone"
                                                        id="phone"
                                                        maxlength="13"
                                                        value="<%=Phone%>"
                                                        required>
                                                </td>

											</tr>
										</tbody>
									</table>
            </form>

			</div>
		</div>

</body>

</body>

</html>
