<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

		<main>
			<section class="container">
			<div class="container-form">
				<form class="form-inline" action="/admin/patients">
					<label for="id">Ticket Number</label>
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" placeholder="Ticket Number" name="healthCardNumber" />
					</div>
					<button type="submit" class="btn btn-primary mb-2">Search</button>
				</form>
				<form class="form-inline" action="/admin/create">
					<button type="submit" class="btn btn-success mb-2">Create Ticket</button>
				</form>
			</div>

			<table class="table patients">
				<thead>
					<tr>
						<th>Ticket Number</th>
						<th>Department</th>
						<th>Description</th>
						<th>Open on</th>
						<th>Closed on</th>
						<th>Status</th>
					</tr>
				</thead>

				<tbody>
					<% tickets.forEach((ticket, index) => { %>
						<tr>
							<td><a href="ticket-detail?ticketNumber=<%= ticket.ticket_number %>"><%= ticket.ticket_number %></a></td>
							<td><%= ticket.department %></td>
							<td><%= ticket.description %></td>
							<td><%= ticket.date_open %></td>
							<td><%= ticket.date_closed %></td>
							<td><%= ticket.status %></td>
						</tr>
					<% }); %>
				</tbody>

			</table>

	</body>
</html>
