<!doctype html>
<html>

<head>
	<%- include('partials/head'); %>
</head>

<body>

	<%- include('partials/header'); %>

		<div class="container">
			<div class="row">


					<% if (ticketNumber) { %>
					<div class="col-md-12">
						<div class="card main">
							<div class="card-header">
								<div class="info">
									<h4>Ticket #<%= ticketNumber %></h4>
								</div>
								<form method="post" action="/admin/close-ticket?ticketNumber=<%= ticketNumber %>">
									<button class="btn btn-primary" type="submit" style="<%= ticketStatus === 'Closed' ? 'display: none;' : null %>">Close</button>
								</form>
							</div>

							<div class="card-body">

									<table class="table table-condensed table-bordered margin-top-10">
										<tbody>
											<thead>
												<tr>
													<th>Department</th>
													<th>Description</th>
													<th>Status</th>
												</tr>
											</thead>
											<tr>
												<td><%= ticketDept %></td>
												<td><%= ticketDesc %></td>
												<td><%= ticketStatus %></td>
											</tr>
										</tbody>
									</table>


											</div>
										</div>
									</div>




								</div>
							</div>
						</div>
					</div>
					<% }; %>
				</row>
			</div>
		</div>

</body>
</html>
