/* Nav bar */

.navbar {
  background-color: #2e4057;
  color: white;
}

.navbar h1 {
  margin-bottom: 0;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  transition: color .2s linear;
}

.nav-link:hover {
  color: #ccc;
}

.nav-link.active {
  opacity: .6;
  color: #aaa;
}

.nav-link.ticket-detail {
	color: #2e4057;
  display: none;
}

.navbar-authenticated {
  display: flex;
  align-items: center;
}

.navbar-authenticated a {
  margin-left: 1rem;
}

.navbar-greeting {
  margin-bottom: 0;
}

.navbar-greeting-username {
  font-style: italic;
}

button {
	text-transform: capitalize;
}

.form-inline {
	margin-top: 0.5rem;
}

.crud {
	margin-top: 1rem;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Home page */

.home > .container > h1 {
	margin-top: 4rem;
	color: Grey;
}

.lead {
	color: Grey;
}


/* Search ticket page */

tr:hover {
	background: #ccc;
}

td > a {
	text-decoration: none !important;
}

.container-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}


/* Ticket detail page */

img {
	width: 20%;
}

.card {
	width: 100%;
	margin-right: 2rem;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	opacity: 1;
}

.tab-content {
	display: flex;
}

.card.side {
	height: 100%;
}

.card.main {
	height: 100%;
}

.card.main >.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info {
	display: flex;
  justify-content: space-between;
}

.card.main > .nav-link {
	color: grey;
}

.record-card {
	margin-top: 2rem;
}

.list-group-item.overweight {
	color: #cc0000;
}

/* Create ticket form */

.add-patient-form {
	margin-top: 5rem;
}

.add-patient-form > .form-row > a > button {
	margin-top: 2rem;
}

textarea{
	width: 98%;
}
